@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    font-family: 'Google Sans Flex', sans-serif;
    background-color: #167BA7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.container {
    padding: 2rem 2rem;
    margin: auto;
    width: 97vw;
    height: 100vh;
    background-color: #eaeaea;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #0c9ee2 #d4d4d4;
    opacity: 0.98;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.14);
}