@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    font-family: 'Google Sans Flex', sans-serif;
    background-color: #167BA7;
    color: #121212;
}

.nome-paciente {
    margin-top: .2rem;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 12px;
    color: #121212;
}

.card-consulta {
    align-self: flex-start;
    width: 100%;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left-color: rgb(132, 0, 255);
    border-left-width: 6px;
    border-left-style: solid;
    color: #333;
    cursor: default;
}

.detalhes-paciente {
    align-self: flex-start;
    width: 50vw;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-left-color: rgb(0, 42, 255);
    border-left-width: 6px;
    border-left-style: solid;
    color: #333;
}

.detalhes-paciente p {
    margin-bottom: 10px;
}

.cancelar-consulta {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ef4444;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.realizar-consulta {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #01921e;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.confirmar-consulta {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #001eff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.desconfirmar-consulta {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #9d9d9d;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


