@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #167BA7;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  background-color: #98CBE2;
  width: 100vw;
  height: 10vh;
  align-items: center;
  color: #121212;
}

.pfp {
  background-color: gray;
  height: 55px;
  width: 55px;
  border-radius: 100%;
}

.logo {
  width: 200px;
}

.containerProfile{
  margin-left: auto;
  padding: 1rem;
  display: flex;
  width: 35%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #e4e4e4;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.exitButton {
  color: #c70000;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10%;
}

.name {
  margin-left: 10%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: .2s;
}

.name:hover{
    font-size: 1.25rem;
    transition: .2s;
}